
svg * {
  stroke: #000;
}
#my-svg * {
  fill-opacity: 0;
  transition: fill-opacity 1s;
  stroke: #000;
  stroke-width: 5;
}

#my-svg.finished * {
  fill-opacity: 1;
  fill: #94d31b;
}

h3 {
     margin: 40px 0 20px;
}

.ui-widget,
.ui-widget input {
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.ui-autocomplete {
    text-align: left;
}
strong {
    color: #d10505;
}
.column {
    float: right;
}
.media {
    padding-top: 30px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 8px;
    line-height: 18px;
    vertical-align: top;
    border-bottom: 1px solid #DDD;
}
